body {
  background-color: black;
}

ul, li, h2 {
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 4px;
}

.videos {
  text-align: left;
}

h1 {
  color: white;
}

h2 {
  color: red;
}

a {
  color: lightgrey;
}

a:hover {
  color: green;
  cursor: crosshair;
}